<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="pickwin_serverCS" connectionString="server=localhost;user id=root;password=123456;persistsecurityinfo=True;database=pickwin_server"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
    </system.web>

</configuration>
